body{
    background-color: rgb(232, 238, 238);
    padding-top: 20px;
}

.users__section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.users__list{
    margin: 0;
    padding: 0; 
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.users__item{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -mo-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    max-width: 340px;
    width: 100%;
    list-style-type:none;
    /* border: 1px solid black; */
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(252, 241, 241);

}

.users__id{
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: aqua;
    margin-right: 10px;
}

.users__name{
    margin-top: 20px;
    font-size: 22px;
}

.users__username{
    font-size:24px;
    margin-top: 15px;
    text-align: center;
}

.users__address{
    padding-left: 20px;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.address-name{
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
}

.users__address p{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.users__connect{
    font-size: 19px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.connect-name{
    font-size: 22px;
    font-weight: bold;
}

.users__connect__email{
    margin: 0;
    margin-bottom: 30px;
    color: rgb(73, 72, 72);
}

.users__connect__phone{
    margin-top: 5px;
    margin-bottom: 5px;
}

.users__connect-name{
    font-size: 22px;
    font-weight: bold;
}

.users__connect__company{
    padding-left: 20px;
    font-size: 19px;
    margin-bottom: 40px;
}


.users__more-info{
    padding: 5px 15px;
    font-size: 20px;
}
/* post page */

.post-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

.post__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type:none;
    row-gap: 25px;
    column-gap: 30px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}


.post__item{
    max-width: 350px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -mo-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(252, 241, 241);
    padding-bottom: 20px;
    padding-left: 20px;
}

.post__text{
    margin-bottom: 40px;
}

.post__more-info{
    font-size: 18px;
}

/* comments page
 */

.comments-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.comments__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 20px;
}

.comments__item{
    margin: 0 auto;
    max-width: 600px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -mo-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(252, 241, 241);
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.comments__email{
    margin-bottom: 30px;
    color: rgb(73, 72, 72);
}

